<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to FRAMEWORK 3 demo
  </h1>
</div>
<div>
  <fieldset class="m-form-row" role="radiogroup">
    <span class="a-label">
      <legend>Testing</legend>
    </span>
    <div class="m-form-row__content">
      <ul class="m-radio-group m-radio-group--3" data-module="m-radio-segmented">
        <li class="m-radio-group__item">
          <label class="a-radio" for="1">
            <input class="a-radio__input" type="radio" name="test" id="1" value="yes" />
            <span class="a-radio__label">
              <span class="a-radio__label-inner">yes</span>
            </span>
            <span class="a-radio__ui"></span>
          </label>
        </li>
        <li class="m-radio-group__item">
          <label class="a-radio" for="2">
            <input class="a-radio__input" type="radio" name="test" id="2" value="no" />
            <span class="a-radio__label">
              <span class="a-radio__label-inner">no</span>
            </span>
            <span class="a-radio__ui"></span>
          </label>
        </li>
        <li class="m-radio-group__item">
          <label class="a-radio" for="3">
            <input class="a-radio__input" type="radio" name="test" id="3" value="test" />
            <span class="a-radio__label">
              <span class="a-radio__label-inner">no</span>
            </span>
            <span class="a-radio__ui"></span>
          </label>
        </li>
        <li class="m-radio-group__ui"></li>
      </ul>
    </div>
  </fieldset>
</div>

